.uf-free-badge {
    display: none;
}

/*this gives the smaller pop-ups a border*/
.uf-bubble {
    
    border-color: #ff9100 !important;
}

/* This overrides the styling of the title in the bubble */
.uf-title {
    color: #2C2C68 !important;
    font-weight: bold !important;
}

/* These 2 override the styling of the text in the bubble */
.uf-bubble-content p span {
    color: #2C2C68 !important;
}
.uf-content p span {
    color: #2C2C68 !important;
}

div.uf-modal-inner  {
    border-style: solid !important;
    
    
    
}

body > div.uf-modal.uf-visible.uf-7b694293-8d8f-46a4-8488-bca44ccccf38 > div {
    
    border-style: solid;
    border: 2px;
    border-color: #ff9100;
}

.uf-button {
    background-image: linear-gradient(to right, #17CEDA, #032396) !important;
    border-style: none !important;
    color: white !important;
    border-radius: 50px !important;
    
}
.uf-button:hover {
    background-image: linear-gradient(to right, #19f7fa , #1c8cfb) !important;
}
