.global {
    border-style: solid;
    border-color: #FF9100;
    border-radius: 50px;
    padding: 10px;
    width: 1700px;
}

.drop {
    border-style: none;
    border: none;
    background-color: blueviolet;
}

.stack {
    display: flex;
    flex-direction: row;
  }

.input {
    flex-grow: 2; 
  }

.button {
    flex-grow: 0.5;
}