.global {
    border-style: solid;
    border-color: #FF9100;
    border-radius: 50px;
    padding: 10px;
    width: 1700px;
}

.drop {
    border-style: none;
    border: none;
    background-color: blueviolet;
}

