.container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    padding: 0 4px;
    justify-content: left;
    
}

.name {
flex: 50%;
padding: 0 4px;
font-size: 18px;
color: #2C2C68;
font-weight: bold;
align-items: top;
}

.rating {
 display: flex;
}


.image {
 margin-top: 25px;
 height: 45%;
}

.content {
    font-size: 12px;
    margin-right: 20px;
}